08_collaborative_filtering/.*
03_active_learning/.*
01_decision_tree/.* 
02_credit_card_fraud_detection/.* 
07_master_thesis_unsupervised_learning/.* 
07_master_thesis_unsupervised_learning/src/models/.* 
07_master_thesis_unsupervised_learning/src/.* /.* 
05_weather_forecasting/.*
05_weather_forecasting/jena_climate_2009_2016.csv
/.*
09_natural_language_processing/.*
10_reinforcement_learning/.*
09_natural_language_processing/aclImdb/*
04_shipping_traffic_anomaly_detection/.*
06_face_recognition/.*
