collaborative_filtering/.*
active_learning/.*
decision_tree/.* 
credit_card_fraud_detection/.* 
master_thesis_unsupervised_learning/.* 
master_thesis_unsupervised_learning/src/models/.* 
master_thesis_unsupervised_learning/src/.* /.* 
weather_forecasting/.*
weather_forecasting/jena_climate_2009_2016.csv
/.*
natural_language_processing/.*
reinforcement_learning/.*
natural_language_processing/aclImdb/*
shipping_traffic_anomaly_detection/.*
face_recognition/.*
